@model List<ChatModel>

@{
    ViewData["Title"] = "Chat List";
}

<div class="container mt-4">
    <h2 class="text-center">@ViewData["Title"]</h2>
    @if (Model.Count != 0 && Model != null)
    {
        <div class="list-group">
            @foreach (var chat in Model)
            {
                var otherPlayer = chat.Player1.IdPlayer == ViewBag.PlayerId ? chat.Player2 : chat.Player1;
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="@Url.Action("PersonalChat", "Chat", new { idChat = chat.IdChat })" class="flex-grow-1">
                        <div>
                            <h5 class="mb-1">@otherPlayer.NickName</h5>
                            <p class="mb-1 text-muted">Last message: @chat.Messages.LastOrDefault()?.MessageText</p>
                        </div>
                    </a>
                    <form asp-controller="Chat" asp-action="DeleteChat" asp-route-idChat="@chat.IdChat" method="post" class="ajax-form-reload ml-2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            }
        </div>
    }
</div>