@model ChatModel

@if (Model != null)
{
    var sender = Model.Player1.IdPlayer == ViewBag.PlayerId ? Model.Player2 : Model.Player1;
    var recipient = Model.Player1.IdPlayer != ViewBag.PlayerId ? Model.Player2 : Model.Player1;

    <div class="container mt-3" style="display: flex; flex-direction: column; height: 75vh; max-width: 95%; margin: auto;">
        <!-- Messages Display Area -->
        <div class="messages-container border border-2 border-success" style="flex-grow: 1; overflow-y: auto; padding: 10px;">
            <ul id="messagesLisChat" style="list-style-type: none; padding: 0;">
                @if (Model.Messages != null && Model.Messages.Any())
                {
                    @foreach (var message in Model.Messages.OrderBy(m => m.SentDateTime))
                    {
                        string fontColor;
                        if (message.IdSender == ViewBag.PlayerId) fontColor = "primary";
                        else fontColor = "success";

                        var isFriendRequest = message.MessageText.Contains("wants to add you as a friend!");

                        <div class="d-flex align-items-start">
                            <div class="me-0">
                                <message user-login="@message.Sender.NickName" message="@message.MessageText"
                                         date-time="@message.SentDateTime" id-message="@message.IdMessage" font-color="@fontColor"></message>
                            </div>

                            @if (isFriendRequest)
                            {
                                <form asp-controller="Player" asp-action="AcceptInvitationFriends" method="post" class="ajax-form">
                                    <input type="hidden" name="idPlayer1" value="@sender.IdPlayer" />
                                    <input type="hidden" name="idPlayer2" value="@recipient.IdPlayer" />

                                    <button type="submit" class="btn btn-primary p-3">Accept</button>
                                </form>
                            }
                        </div>
                    }
                }
                else
                {
                    <li>No messages yet.</li>
                }
            </ul>
        </div>

        <!-- Message Input Area -->
        <div class="message-input border border-2 border-success" style="display: flex; padding: 10px;">
            <form asp-controller="Chat" asp-action="SendMessage" method="post" class="ajax-form" style="display: flex; width: 100%; gap: 10px;">
                <input type="hidden" name="chatId" value="@Model.IdChat" />
                <input type="hidden" name="senderNick" value="@recipient.NickName" />
                <input type="hidden" name="senderId" value="@recipient.IdPlayer" />
                <input type="hidden" name="recipientId" value="@sender.IdPlayer" />

                <input id="messageInputPersonalChat" class="form-control" type="text" name="message" style="flex-grow: 1; flex-basis: 0;" placeholder="Type your message..." />
                <input id="sendButtonPersonalChat" class="btn btn-success" type="submit" value="Send Message" />
            </form>
        </div>
    </div>
}

