@model List<TaskProgrammingModel>

@if(Model == null || Model.Count == 0)
{
    <div class="alert alert-danger text-center mt-3" role="alert">
        <h4 class="alert-heading">No assignments yet</h4>
        @if (User.IsInRole("Admin"))
        {
            <p>You can add them here.</p>
            <a class="btn btn-success" asp-controller="Admin" asp-action="AddTask">Add Task</a>
        }
    </div>
}
else
{
    <div class="container mt-3">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Task Filtering</h5>
            </div>
            <div class="card-body">
                <form id="filterForm">
                    <div class="row gx-2">

                        @if(ViewBag.IsLang == null || !ViewBag.IsLang)
                        {
                            <div class="col-md-4">
                                <label class="form-label">Programming Language</label>
                                <select id="languageSelect" class="form-select">
                                    <option value="">Select a language</option>
                                    @foreach (var lang in ViewBag.LangProgrammings)
                                    {
                                        <option value="@lang.Key">@lang.Value</option>
                                    }
                                </select>
                            </div>
                        }

                        <div class="col-md-4">
                            <label class="form-label">Difficulty</label>
                            <select id="difficultySelect" class="form-select">
                                <option value="">All Levels</option>
                                <option value="Easy" class="text-success">Easy</option>
                                <option value="Medium" class="text-warning">Medium</option>
                                <option value="Hard" class="text-danger">Hard</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Task Name</label>
                            <input type="text" id="taskName" class="form-control" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-end">
                            <button type="submit" class="btn btn-primary">Apply Filter</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    foreach(var task in Model)
    {
        <div class="session-item card shadow-sm m-5" data-lang="@task.Lang" data-difficulty="@task.Difficulty" data-name="@task.Name">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">@task.Lang, Difficulty - @task.Difficulty</h5>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <a asp-controller="Session" asp-action="InfoTask" asp-route-idTask="@task.IdTaskProgramming" class="btn btn-success form-control me-2">@task.Name</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-controller="Admin" asp-action="EditTask" asp-route-idTask="@task.IdTaskProgramming" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                            </svg>
                        </a>
                    }
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filterForm').on('submit', function (e) {
                e.preventDefault();

                let languageSelect = $('#languageSelect').val();
                let difficultySelect = $('#difficultySelect').val();
                let taskName = $('#taskName').val();

                $('.session-item').each(function () {
                    let language = $(this).attr('data-lang').toLowerCase();
                    let difficulty = $(this).attr('data-difficulty').toLowerCase();
                    let name = $(this).attr('data-name').toLowerCase();
             
                    let matchesLanguage = !languageSelect || language === languageSelect.toLowerCase();
                    let matchesDifficulty = !difficultySelect || difficulty === difficultySelect.toLowerCase();
                    let matchesName = !taskName || name.includes(taskName);
             
                    if (matchesLanguage && matchesDifficulty && matchesName) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
             
            });
        });
    </script>
}